<header class="header">
    <div class="logo">
        <a routerLink="/" style="text-decoration: none; color: white; font-size: 1.8rem; font-weight: bold;">
            <img src="assets/images/snapeat_logo.png" height="40" style="vertical-align: middle;" />
            <span style="margin-left: 8px;">SnapEat</span>      
        </a>
    </div>

    <button class="menu-toggle" (click)="toggleMobileMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <nav [ngClass]="{ 'menu': true, 'open': isMobileMenuOpen }">
        <a routerLink="/recetas" (click)="closeMenu()">
            <mat-icon>menu_book</mat-icon>
            <span>Recetas</span>
        </a>

        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" (click)="closeMenu()">                
                <mat-icon>login</mat-icon>
                <span>Iniciar sesión</span>
            </a>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
            <a routerLink="/recetas/crear" (click)="closeMenu()">
                <mat-icon>add_circle</mat-icon>
                <span>Crear receta</span>
            </a>

            <a routerLink="/favoritos" (click)="closeMenu()">
                <mat-icon>bookmark</mat-icon>
                <span>Favoritos</span>          
            </a>

            <a routerLink="/perfil" (click)="closeMenu()">
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </a>

            <a href="#" (click)="logout(); closeMenu()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </a>
        </ng-container>
    </nav>
</header>